<html>
  <head>
    <style>
      body {background: <%= color %>;}
    </style>
  </head>
  <body>
    <p>
      <%= feedback %>
    </p>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
  </body>
</html>
